h2{
  font-size: 60px;
  margin: -5px 0 0 0;
}

h3{
  font-size: 20px;
  margin: -15px 0 0 0;
}

p{
  font-size: 14px;
}


.section-main{
  max-width: 900px;
  padding: 0 10%;
  margin: 50px auto 0;
}

.t_logo{
  height: 70%;
  bottom: 0;
  top: 0;
  right: -50%;
}


#logo{
  left: -7%;
  bottom: -30%;
  width: 85vw;
  animation: transformLeft .5s cubic-bezier(0.645, 0.045, 0.355, 1) 3s forwards;
}

@keyframes transformLeft {
  0%{
   left: -7%;
   bottom: -30%;
  }
  100%{
    left: -25%;
    bottom: -35%;
  }
}


.t_logo{
  right: 40%;
  bottom: 40%;
  animation: transformRight .5s cubic-bezier(0.645, 0.045, 0.355, 1) 3s forwards;
}

@keyframes transformRight {
  0%{
    opacity: 0;
    top: 20%;
    right: 30%;
  }
  100%{
    opacity: 1;
    top: 10%;
    right: 7%;
  }
}






.a_mainbox h4{
  font-size: 20px;
  margin-bottom: 20px;
}

.a_mainbox p{
  margin-bottom: 40px;
  line-height: 1.7em;
}

.a_mainbox .a_theme{
  font-size: 18px;
}

.a_mainbox table{
  margin: -10px auto 10px;
  font-size: 14px;
}










.m_main{
	margin: 0 auto;
 	width: 45%;
  padding: 1% 7%;
}


.movieImage{
  display: none;
  object-fit: contain;
  width: 100%;
}






.b_icon{
  width: calc(100% / 7);
  height: 175px;
  margin: 0;
}

.b_kanbu{
  width: calc(100% / 6) !important;
}

.s4 .section-main{
  max-height: 530px
}


.modal-content {
	width: 70%;
  height: 70%;
}

.modal-content img{
	width: 50%;
}

.modal-content p{
  margin-top: 2%;
  padding: 5px;
  font-size: 24px;
}

.order1,
.order2{
  order: 0;
}



.glitch {
  height: 96%;
}

.glitch__img{
  left: 0;
  width: calc(190% + var(--gap-horizontal) * 2);
}

.glitch--style-1 .glitch__img{
  width: calc(170% + var(--gap-horizontal) * 2);
}

.glitch--style-3 .glitch__img{
  width: calc(130% + var(--gap-horizontal) * 2);
}

.glitch--style-4 .glitch__img,
.glitch--style-16 .glitch__img{
  width: calc(210% + var(--gap-horizontal) * 2);
}


.glitch--style-6 .glitch__img{
  width: calc(150% + var(--gap-horizontal) * 2);
}

.glitch--style-8 .glitch__img{
  width: calc(250% + var(--gap-horizontal) * 2);
}

.glitch--style-9 .glitch__img,
.glitch--style-10 .glitch__img{
  width: calc(180% + var(--gap-horizontal) * 2);
}



.glitch--style-11 .glitch__img{
  width: calc(100% + var(--gap-horizontal) * 2);
}

.glitch--style-12 .glitch__img{
  width: calc(220% + var(--gap-horizontal) * 2);
}

.glitch--style-13 .glitch__img{
  width: calc(110% + var(--gap-horizontal) * 2);
}

.glitch--style-14 .glitch__img{
  width: calc(160% + var(--gap-horizontal) * 2);
}

.glitch--style-15 .glitch__img{
  left: -40%;
  width: calc(150% + var(--gap-horizontal) * 2);
}

.glitch--style-17 .glitch__img{
  width: calc(200% + var(--gap-horizontal) * 2);
}

.glitch--style-20 .glitch__img{
  left: -60%;
}

.glitch:hover .glitch__img:nth-child(n+2) {
	opacity: 1;
}

.glitch:hover .glitch__img:nth-child(2) {
  opacity: 0.6;
	transform: translate3d(var(--gap-horizontal),0,0);
	animation: glitch-anim-1-horizontal var(--time-anim) infinite linear alternate;
}

.glitch:hover > .glitch__img:nth-child(3) {
	transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
	animation: glitch-anim-2-horizontal var(--time-anim) infinite linear alternate;
}

.glitch:hover > .glitch__img:nth-child(4) {
	transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
	animation: glitch-anim-3-horizontal var(--time-anim) infinite linear alternate;
}

/* Hover flash animation on last image */
.glitch:hover > .glitch__img:nth-child(5) {
	animation: glitch-anim-flash 0.5s steps(1,end) infinite;
}






.geikosai-logo{
  width: 60%;
}




.parallelogram{
  --skew: -7deg;
}
